body {
  height: 98vh;
  width: 99vw;
}

#root {
  height: 100%;
  width: 100%;
}

.main,
.content {
  width: 100%;
  height: 100%;
  display: flex;
}

.content {
  justify-content: center;
  flex-direction: column;
}

.top-table {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.table {
  min-width: 1200px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}